tdGCCBodyTextLarger {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000;
}
.GCCBodyTextLarger {
	font-family: Arial, Helvetica, sans-serif;
}
.GCCBodyTextLarger {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.GCCBodyTextLarger {
	font-size: 16px;
}
.GCCHeading2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #009900;
}
